@import "tailwindcss";

@theme {
  --color-azul-base: #C9E1EB;      
  --color-azul-claro: #2385B1;     
  --color-azul-primario: #0A4F6E;  
  --color-laranja-base: #FFDFCC;   
  --color-laranja-secundario: #FF7620;
  --color-verde-simples: #1FAF38; 
  --color-base-tela: #F6F6F6;
  --color-footer: #D8D8D8;
  --font-sans: var(--font-poppins);
}

@utility scrollbar-hide {
  &::-webkit-scrollbar { display: none; }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #f6f6f6;
  color: #171717;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Garante que nada escape para os lados */
}
